* {
    margin: 0;
    padding: 0;
}

header {
    padding: 7px;
    background: rgb(76, 112, 231);
    width: 100vw;
}

.grid-header {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto auto;

}

.grid-header-item-1 {
    grid-area: manu;
    grid-column: 1;
    display: flex;
}

.grid-header-item-2 {
    grid-area: search;
    text-align: start;
    grid-column: 2/3;
    margin-top: 7px;
}

.grid-header-item-3 {
    grid-area: signup;
    grid-column: 11;
    justify-self: center;
    margin-top: 7px;
}

.Navbar {
    padding: 11px;
}

.navbar-brand {
    text-decoration: none;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-item {
    text-align: inherit;
    padding: 11px
}

.dropdown-item {
    text-decoration: none;
    color: white;
}

.nav-item-dropdown {
    padding: 11px;
    color: white;
}

.dropdown-manu {
    display: none;
    position: absolute;
    background-color: #9aa7c1;
    min-width: 94px;
    box-shadow: 0px 8px 16px 0px rgba(46, 45, 45, 0.2);
    margin: 8px 0px;
    padding: 12px 16px;
    z-index: 1;
    list-style-type: inherit;
}

.nav-link-dopdown-toggle:hover+ul {
    display: block;
}

.nav-link-dopdown-toggle {
    color: white;
    text-decoration: none;
}

.navbarNav {
    list-style-type: none;
    display: flex;
}

.nav-search {
    width: 300px;
    height: 22px;
    padding-left: 18px;
    font-size: 17px;
    border-radius: 4px;
    border: none;
}

.submit {
    width: 74px;
    height: 27px;
    border: 2px solid blue;
    border-radius: 7px;
}

span button:hover {
    background-color: blue;
    color: rgb(250, 248, 248);
    border: 1px solid white;
}

.navbar-signup {
    background: rgb(34, 172, 57);
    width: 74px;
    height: 22px;
    text-align: center;
    padding-top: 3px;
    border-radius: 7px;
}

.nav-signup-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar-signup:hover {
    background: rgb(9, 143, 53);
    border: 1px solid rgb(248, 246, 246);
}

.navbar-login {
    background: rgb(34, 172, 57);
    width: 74px;
    height: 22px;
    text-align: center;
    padding-top: 3px;
    margin-left: 9px;
    border-radius: 7px;
}

.nav-login-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar-login:hover {
    background: rgb(9, 143, 53);
    border: 1px solid rgb(248, 246, 246);
}

.nav-sign-log {
    display: flex;
}
.hero-section{
    height: 25vh;
    background: #000;
}